html {
    scroll-behavior: smooth;
  }

  body{
    background-color: #070440;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239514a3'/%3E%3Cstop offset='1' stop-color='%23070440'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%238f7c6f' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%238f7c6f' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.content{
    margin-top: 6%;
}
.logo{
    width: 25%;
}
 h1 {
    font-size: 45px;
    font-family: 'Viga', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px #3d60dd;
    animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
hr {
    
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(214, 209, 209, 0), rgba(0, 0, 0, 0.75), rgba(214, 209, 209, 0));
    
}
.caption{
    font-size: 25px;
}
.section{
    margin-top: 18vh;
}
i{
    font-size: 45px;
    padding-top: 25px;
}
.card{
    background-color: #1d1b4975;
}
.navbar{
    background-color:#7a238769 ;
    padding-bottom: 3px;
    padding-top: 0px;
}
.about-us{
    border-right-style: solid;
    border-width: 5px;
    border-color: magenta;
}
.abt-pic{
    width: 50%;
    margin-left: 125px;
}
.contact-form{
  text-align: center;
  margin-top: 10px;
}
.contact_form{
  margin-left: auto;
}
a { color: inherit; } 
span{
  font-size: smaller;
}